

/*
NOTE: Check out fonts Kanit, Exo2 (700), Tatillium Web
*/

p.loading{
	text-align: center;
	font-size: 4rem;
	margin: 0;
}

.list-group.sort-info li p{
	margin:0;
}

.tab-content .tab-pane{
	padding-top:15px;
}

.table{
	margin:0;
	width:100%;
}

.table th span{
	cursor:pointer;
	color:#3f729b;
	display:inline-block;
	vertical-align: middle;
}

.table th span i{
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
}

.table td img.team-logo{
	width:20px;
	display:inline-block;
	vertical-align: middle;
}

.table td .ion-ios7-information-outline{
	margin-right:5px;
}

.list-group.game-list{
	width:100%;
	max-width:100%;
}

.list-group.game-list{
	display:flex;
	flex-flow: row wrap;
	margin:0;
}
.list-group.game-list li{
	float: none;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 0 5px 0;
	width:100%;
	text-align:center;
}
.list-group.game-list li .checkbox{
	margin:0;
}

div.tooltip{
	font-size:16px;
}

/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}

.sb-game{
	width:100%;
	margin-bottom:15px;
	border:1px solid #808080;
	background:#222222;
	border-radius:5px;
	display:inline-block;
}

.img-container{
	display: table-cell;
    height: 40px;
    margin: 0 auto;
    min-width: 40px;
    overflow: hidden;
    padding-right: 4px;
    position: relative;
    vertical-align: middle;
    width: 40px;
}

.img-container img{
	bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 35px;
    position: absolute;
    right: 0;
    top: 0;
}

.team-meta{
	display: table-cell;
    font-size: 11px;
    line-height: 1.2;
    padding-left: 9px;
    vertical-align: middle;
    width: 100%;
}

.team-meta h2{
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
}
.team-meta p.record{
	color: #999;
    font-size: 10px;
    line-height: 14px;
    margin: 4px 0 0 0;
    text-align: inherit;
}

td.status, td.pitching-result{
	text-transform: uppercase;
	vertical-align: middle !important;
    font-size: 10px;
    text-align: center;
    padding: 5px 0 !important;
}
td.score{
	vertical-align:middle !important;
    font-size: 20px;
    font-weight: 700;
}

